# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
env/
.venv/

# PyInstaller build
dist/
build/
*.spec

# Editor configs
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Logs and backups
*.log
*.bak
*.tmp

# Python test cache
.pytest_cache/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover

# Local user config
settings.json

# Macro files (optional: if you want to exclude user-created macros)
macros/*.json

build/
dist/
